.section {
    margin-left: 20px;
}
.notification {
  font-size: 18px;
  color: #333;

  padding: 10px;
 
  text-align:left;
  width: 300px;
}

.button {
  margin: 5px;
  padding: 8px 12px;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #0056b3;
}